{% extends 'base.html' %}
{% block content %}
<div class='columns-12'>
    {% load thumbnail %}
    Album Title: {{ album.title }}
    <ul>
        <li>
            {% for photo in album.pictures.all %}
            {% thumbnail photo.image "150x150" as im %}
            {{ photo.title }}
            <a href="/images/photos/{{photo.id}}"><img src="{{ im.url }}"></a>
            {% empty %}
            <p> sorry! no image </p>
            {% endthumbnail %}
            {% endfor %}
        </li>
</ul>
</div>
{% endblock %}
