{% extends 'base.html' %}
{% block content %}
{% load thumbnail %}
<div class='columns-12'>
    <section class="centered">
        <h1>My Albums and Images</h1>
    </section>
    <a href="/images/albums/add"><button class='five columns'>Create Album</button></a>
    <a href="/images/photos/add"><button class='five columns offset-by-two columns'>Create Photo</button></a>
    <h3>Albums</h3>
    <ul>
        <li>
        {% for album in user.albums.all %}
            {% thumbnail album.cover_photo.image "100x100" as img %}
                <span>
                    <div>Title: {{album.title}} </div>
                    <div>Description: {{album.description}} </div>
                    <div>Privacy Setting: {{album.published}} </div>
                    <div>
                        <a href='/images/album/{{album.id}}'>
                            <img src="{{ img.url }}">
                        </a>
                    </div>
                    <div>
                        <a href='/images/album/{{album.id}}/edit'>
                            <button>Edit!</button>
                        </a>
                    </div>
                </span>
                {% empty %}
                <p> sorry! no image </p>
            {% endthumbnail %}
        {% endfor %}
        </li>
    </ul>
    <h3>Photos</h3>
    <ul>
        <li>
        {% for photo in user.photo_set.all %}
            {% thumbnail photo.image "100x100" as im %}
                <span>
                        <div>Title: {{photo.title}}</div>
                        <div>Description: {{photo.description}} </div>
                        <div>Privacy Setting: {{photo.published}} </div>
                    <div>
                        <a href='/images/photos/{{photo.id}}'> <img src="{{im.url}}" alt="{{photo.title}}">
                        </a>
                    </div>
                    <div>
                        <a href='/images/photos/{{photo.id}}/edit'>
                            <button>Edit!</button>
                        </a>
                    </div>
                </span>
            {% endthumbnail %}
        {% endfor %}
        </li>
    </ul>
</div>
{% endblock %}
