{% extends 'base.html' %}
{% block content %}
Hello! This is the library page!
<p>Albums</p>
<ul>
    {% load thumbnail %}
    {% for album in user.albums.all %}
        {% thumbnail album.cover_photo.image "100x100" as img %}
            <li>
                <img src="{{ img.url }}">
            </li>
            {% empty %}
            <p> sorry! no image </p>
        {% endthumbnail %}
    {% endfor %}
</ul>
<p>Photos</p>
<ul>
    {% for photo in user.photo_set.all %}
        {% thumbnail photo.image "100x100" as im %}
            <li> 
                <p>{{photo.title}}:</p>
                <img src="{{im.url}}">
            </li>
        {% endthumbnail %}
    {% endfor %}
</ul>

{% endblock %}
