{% extends 'base.html' %}
{% block content %}
Hello! This is the library page!
<p>Albums</p>
<ul>
    <li>
    {% load thumbnail %}
    {% for album in user.albums.all %}
        {% thumbnail album.cover_photo.image "100x100" as img %}
                <a href='/images/album/{{album.id}}'> <img src="{{ img.url }}"> </a>
            {% empty %}
            <p> sorry! no image </p>
        {% endthumbnail %}
    {% endfor %}
    </li>
</ul>
<p>Photos</p>
<ul>
    <li>
    {% for photo in user.photo_set.all %}
        {% thumbnail photo.image "100x100" as im %}
                <a href='/images/photos/{{photo.id}}'> <img src="{{im.url}}" alt="{{photo.title}}"></a>
        {% endthumbnail %}
    {% endfor %}
    </li>
</ul>

{% endblock %}
