{% extends 'base.html' %}

{% block content %}

<a href="/profile/edit/{{ request.user.user_id }}">Edit Profile</a>

<section id='user_details' class='12 columns'>
    <ul>
        <li>
            username: {{request.user.username}}
        </li>
        <li>
            name: {{request.user.first_name}} {{request.user.last_name}}
        <li>
            email: {{request.user.email}}
        </li>
        <li>
            Region: {{request.user.profile.location}}
        </li>
        <li>
            Photography Type: {{request.user.profile.photography_type}}
        </li>
        <li>
            <p>Total Albums: {{ user.albums.count }}</p>
        </li>
        <li>
            <p> Total Photos: {{user.photo_set.count}} </p>
        </li>
    </ul>
</section>
{% endblock %}
